.pokedex {
    display: flex;
    flex-direction: row;
}
.pokemon-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 20vw;
}
.pokemon-list > img{
    width: 48px;
}

.pokemon-list > .name{
    font-size: 25px;
    margin-left: 5px;
}